/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
* {
  box-sizing: border-box;
  --header-height: 120px;
}

html {
  height: fit-content;
  overflow-y: visible;
  min-height: 100vh;
}

body, html {
  overflow-x: hidden;
  min-height: 100vh;
  /* width: 100vw; */
}

main {
  position: relative;
  /* width: 200vw; */
}

/* main {
        width: 100vw;
    }


.app {
  width: 100vw;

} */

/******************************************
/* SECTIONS
/*******************************************/
section {
  min-height: 80vh;
  max-height: fit-content;
}

/* NAVBAR */
#navLogo {
  height: 40px;
  width: auto;
}


/* nav ul li:hover .dropDownMenu {
  display: block;
} */

.dropDownMenu {
  display: none;
  position: absolute;

  display: none;
  z-index: 2;
}

.dropDownItem {
  background: white;
  display: block;
  padding: 0 10px 0 20px;
  text-align: start;
  z-index: 2;
}

ul li ul li a {
  display: block !important;
}
/* ul li ul li:hover {background: rgb(5,195,249, 0.5); transition: width .5s ease, background-color 1s ease;} */

/* body:before,
body:after {
  display: none;
} */

#home, #about, #about-mobile {
  width: 100vw;
  transition: all 0.5s ease-in-out;
}

#home {
  /* transform: translateX(100%);  */
}

#about.active ~ #home {
  transform: translateX(100%) !important; 
}

#about-mobile.active ~ #home {
  transform: translateX(-100%) !important; 
}

#about {
  transform: translateX(-100%); 
}

#about-mobile {
  transform: translateX(-100vw); 
}

#home.active, #about.active, #about-mobile.active {
  transform: translateX(0%);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
}

.header {
  height: var(--header-height);
}

#blog-filter-container {
  position: absolute;
  top: var(--header-height);
  right: 3rem;
  z-index: 100;
  transform: translateX(100%);
  transition: all 0.5s ease-in-out;
}

#blog-filter-container.active {
  transform: translateY(0%);
  transition: all 0.5s ease-in-out;
}

.img-container {
  position: relative;
  width: 100%;
  aspect-ratio: 3/2;
  /* height: 100%; */
  overflow: hidden;
  object-position: center;
  box-shadow: -2px 2px 4px 0px rgba(0,0,0,0.5);
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: all 0.5s ease-in-out;
}


a:hover {
  cursor: pointer;
}


/* Bootstrap Breakpoints */
@media (max-width: 576px) { 
  section .content-container {
    width: 90%;
    margin: auto;
  }

 }

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
  section .content-container {
    width: 90%;
    margin: auto;
    padding: 0 1rem 0 1rem;
  }
 }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  section .content-container {
    width: 90%;

  }
 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  section .content-container {
    width: 90%;

  }
 }

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
  section .content-container {
    width: 85%;

  }
 }

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 
  section .content-container {
    width: 75%;

  }
 }